* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslategrey;
    color: aliceblue;
}

header {
    background-color: black;
    display: flexbox;
    width: 100%;
    height: 400px;
}

header > div {
    background-color: black;
    display: inline-block;
}

#vertical {
    transform: rotate(-90deg);
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-flexbox;
}

nav {
    width: 100%;
    /* position: fixed; */
    background-color: black;
    text-align: center;
    font-size: 1.3rem;
    padding: 10px 10px 10px 0;
}

ul li {
    text-decoration: none;
    display: inline-block;
    margin-right: 2.5rem;
}

ul li a {
    text-decoration: none;
    color: aliceblue;
}

ul li a:hover {
    text-decoration: underline;
    color: rgb(197, 110, 110);
}

main {
    font-size: 1.1rem;
    text-align: center;
    margin-top: 3.125rem;
    height: 800px;
}

.textop {
    display: flex;
    flex-wrap: wrap
}

.textoh {
    margin-top: 8.25rem;
}

.gap {
    width: 500px;
    height: 500px;
}